In [1]:
import numpy as np
import pandas as pd

In [15]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [29]:
data = pd.read_csv('../data/Dataset_churn.csv')
data

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [31]:
data['churn'] = data['churn'].astype('int64')
data

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
state                     3333 non-null object
account length            3333 non-null int64
area code                 3333 non-null int64
phone number              3333 non-null object
international plan        3333 non-null object
voice mail plan           3333 non-null object
number vmail messages     3333 non-null int64
total day minutes         3333 non-null float64
total day calls           3333 non-null int64
total day charge          3333 non-null float64
total eve minutes         3333 non-null float64
total eve calls           3333 non-null int64
total eve charge          3333 non-null float64
total night minutes       3333 non-null float64
total night calls         3333 non-null int64
total night charge        3333 non-null float64
total intl minutes        3333 non-null float64
total intl calls          3333 non-null int64
total intl charge         3333 non-null float64
customer service calls    3333 non-null int64
churn                     3333 non-null int64
dtypes: float64(8), int64(9), object(4)
memory usage: 546.9+ KB

In [33]:
data.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [36]:
data.describe(include=['object'])

       state phone number international plan voice mail plan
count   3333         3333               3333            3333
unique    51         3333                  2               2
top       WV     361-1900                 no              no
freq     106            1               3010            2411

In [49]:
data['area code'].value_counts(normalize=False)

415    1655
510     840
408     838
Name: area code, dtype: int64

In [52]:
data['state'].value_counts()

WV    106
MN     84
NY     83
AL     80
OH     78
WI     78
OR     78
VA     77
WY     77
CT     74
ID     73
VT     73
MI     73
UT     72
TX     72
IN     71
KS     70
MD     70
NC     68
MT     68
NJ     68
CO     66
NV     66
WA     66
RI     65
MA     65
MS     65
AZ     64
FL     63
MO     63
ND     62
ME     62
NM     62
NE     61
DE     61
OK     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
GA     54
DC     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: state, dtype: int64

In [51]:
data[data['area code'] == 415]['state'].value_counts()

WV    52
NY    47
OR    44
WY    41
ID    41
MN    40
OH    40
AL    40
MD    39
CT    39
MI    39
UT    37
MO    37
KS    37
TX    37
AZ    36
VT    36
WI    35
VA    35
NM    35
RI    35
NV    34
MT    34
NJ    34
NE    34
IN    33
KY    32
DE    31
FL    31
MS    31
HI    30
TN    30
SC    30
CO    29
MA    29
ND    28
SD    28
NC    28
IL    28
OK    27
DC    27
AR    27
LA    27
WA    26
ME    25
AK    24
GA    21
IA    20
PA    19
NH    19
CA    17
Name: state, dtype: int64

In [60]:
data.sort_values(by='total day charge', ascending=False).loc[365]

state                           CO
account length                 154
area code                      415
phone number              343-5709
international plan              no
voice mail plan                 no
number vmail messages            0
total day minutes            350.8
total day calls                 75
total day charge             59.64
total eve minutes            216.5
total eve calls                 94
total eve charge              18.4
total night minutes          253.9
total night calls              100
total night charge           11.43
total intl minutes            10.1
total intl calls                 9
total intl charge             2.73
customer service calls           1
churn                            1
Name: 365, dtype: object

In [62]:
data.sort_values(by='total day charge', ascending=False).iloc[365]

state                           DE
account length                 133
area code                      510
phone number              333-2906
international plan              no
voice mail plan                 no
number vmail messages            0
total day minutes            245.8
total day calls                102
total day charge             41.79
total eve minutes            264.7
total eve calls                 90
total eve charge              22.5
total night minutes          111.7
total night calls              103
total night charge            5.03
total intl minutes            11.2
total intl calls                 7
total intl charge             3.02
customer service calls           0
churn                            0
Name: 1858, dtype: object

In [65]:
data.sort_values(by=['churn', 'total day charge'], ascending=[True, False]).tail(10)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
258,KS,92,408,386-4170,yes,no,0,62.6,111,10.64,180.6,126,15.35,221.7,80,9.98,10.4,2,2.81,1,1
21,CO,77,408,393-7984,no,no,0,62.4,89,10.61,169.9,121,14.44,209.6,64,9.43,5.7,6,1.54,5,1
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,77.1,85,6.55,173.0,99,7.79,8.2,7,2.21,4,1
1538,WV,113,415,341-7686,no,no,0,61.2,111,10.40,92.3,88,7.85,197.4,114,8.88,13.7,3,3.70,5,1
181,AK,126,415,372-3750,no,no,0,58.2,94,9.89,138.7,118,11.79,136.8,91,6.16,11.9,1,3.21,5,1
1837,NH,117,510,397-1766,yes,no,0,54.2,100,9.21,303.2,84,25.77,171.8,84,7.73,8.6,2,2.32,1,1
2173,KS,47,510,418-5300,yes,no,0,47.8,120,8.13,178.9,123,15.21,152.6,96,6.87,13.3,7,3.59,0,1
2158,FL,166,510,367-1681,yes,no,0,47.7,89,8.11,264.4,95,22.47,235.2,97,10.58,13.2,3,3.56,0,1
1531,DE,138,510,380-7816,yes,no,0,46.5,104,7.91,186.0,114,15.81,167.5,95,7.54,9.6,4,2.59,4,1
1345,SD,98,415,392-2555,no,no,0,0.0,0,0.00,159.6,130,13.57,167.1,88,7.52,6.8,1,1.84,4,1

In [70]:
data.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [73]:
data[data['churn']==1].describe()-data[data['churn']==0].describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
count,-2367.000000,-2367.000000,-2367.000000,-2367.000000,-2367.000000,-2367.000000,-2367.000000,-2367.000000,-2367.00000,-2367.000000,-2367.000000,-2367.000000,-2367.000000,-2367.000000,-2367.000000,-2367.000000,-2367.0
mean,1.870912,0.743069,-3.488619,31.738324,1.052246,5.395500,13.366847,0.522480,1.13606,5.098484,0.341340,0.229454,0.541123,-0.369421,0.146141,0.779989,1.0
std,-0.414530,0.486114,-2.052987,18.816136,1.781150,3.198874,1.436735,-0.233703,0.12190,-3.972208,0.444413,-0.178687,0.008700,0.109591,0.002368,0.689392,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.900000,48.000000,6.03000,24.200000,16.000000,1.090000,2.000000,1.000000,0.540000,0.000000,1.0
25%,3.000000,0.000000,0.000000,10.425000,0.500000,1.772500,12.600000,0.000000,1.07500,5.350000,-2.000000,0.235000,0.400000,-1.000000,0.110000,0.000000,1.0
50%,3.000000,0.000000,0.000000,40.400000,3.000000,6.870000,11.700000,1.000000,0.99000,4.550000,0.000000,0.210000,0.400000,0.000000,0.110000,1.000000,1.0
75%,0.000000,0.000000,-22.000000,55.650000,2.500000,9.460000,16.250000,0.000000,1.38500,4.950000,2.000000,0.225000,0.800000,-1.000000,0.220000,2.000000,1.0
max,-18.000000,0.000000,-3.000000,35.200000,2.000000,5.990000,1.900000,-2.000000,0.16000,-40.100000,-17.000000,-1.800000,1.100000,1.000000,0.300000,1.000000,1.0

In [77]:
data[data['churn']==0]['total day minutes'].mean()

175.17575438596492

In [78]:
data['international plan'].unique()

array(['no', 'yes'], dtype=object)

In [91]:
data[(data['churn'] == 0) & (data['international plan'] == 'no')]['total intl minutes'].max()

18.9

In [109]:
data.loc[:, data.dtypes == 'float64'].apply(np.mean)

total day minutes      179.775098
total day charge        30.562307
total eve minutes      200.980348
total eve charge        17.083540
total night minutes    200.872037
total night charge       9.039325
total intl minutes      10.237294
total intl charge        2.764581
dtype: float64

In [117]:
columns = ['total day minutes', 'total eve minutes', 'total night minutes']

data.groupby(['churn', 'state'])[columns].agg([np.mean, np.max, np.min])

            total day minutes               total eve minutes                \
                         mean   amax   amin              mean   amax   amin
churn state
0     AK           179.516327  278.4   75.8        185.481633  314.4   58.6
      AL           183.825000  308.0   68.7        191.261111  299.9   77.9
      AR           175.477273  273.4   55.3        194.122727  284.5  127.8
      AZ           169.700000  281.1   58.9        186.448333  328.7   72.9
      CA           181.132000  268.6   92.8        201.584000  281.3  129.2
...                       ...    ...    ...               ...    ...    ...
1     VT           211.375000  278.0  115.5        230.500000  302.6  177.5
      WA           214.771429  289.1   70.8        222.885714  277.4  173.3
      WI           214.571429  326.3  126.9        203.514286  275.5  165.1
      WV           181.090000  312.0   61.2        204.350000  315.4   70.9
      WY           237.844444  296.0  151.0        205.311111  230.3  143.8

            total night minutes
                           mean   amax   amin
churn state
0     AK             194.153061  303.5   23.2
      AL             188.145833  287.6   94.1
      AR             208.050000  367.7   96.4
      AZ             191.803333  294.7   77.3
      CA             191.240000  345.8   71.1
...                         ...    ...    ...
1     VT             221.075000  277.3  133.7
      WA             200.314286  254.4  130.0
      WI             162.585714  176.7  143.2
      WV             197.240000  279.8  151.7
      WY             222.066667  268.6  140.1

[102 rows x 9 columns]

In [120]:
pd.crosstab(data['churn'], data['voice mail plan'], normalize=True)

voice mail plan        no       yes
churn
0                0.602460  0.252625
1                0.120912  0.024002

In [124]:
data.pivot_table(['total day minutes', 'total eve minutes', 'total night minutes'], ['area code'], aggfunc='max')

           total day minutes  total eve minutes  total night minutes
area code
408                    322.5              363.7                367.7
415                    350.8              361.8                381.9
510                    345.3              350.9                395.0

In [126]:
total_calls = data['total day minutes'] + data['total eve minutes'] + data['total night minutes'] + data['total intl minutes']

In [131]:
columns = ['total day minutes', 'total eve minutes', 'total night minutes', 'total intl minutes']
data[columns].agg(np.sum, axis=1)

0       717.2
1       625.2
2       539.4
3       564.8
4       512.0
        ...
3328    660.7
3329    585.4
3330    675.6
3331    517.6
3332    755.4
Length: 3333, dtype: float64

In [127]:
data.insert(loc=len(data.columns), column='total calls', value=total_calls)

In [132]:
data['total charge'] = data['total day charge'] + data['total eve charge'] + data['total night charge'] + data['total intl charge']

In [141]:
data = data.drop(['total calls', 'total charge'],axis=1)

In [142]:
data

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [144]:
pd.crosstab(data['churn'], data['voice mail plan'], normalize=True, margins=True)

voice mail plan        no       yes       All
churn
0                0.602460  0.252625  0.855086
1                0.120912  0.024002  0.144914
All              0.723372  0.276628  1.000000